[BOT]
lat= 39.0               # latitude of spot circle center
long= 113.0             # longitude of spot circle center
radius = 100            # radius of circle to check for spots (in nautical miles)
tweet_interval=5        # minimum interval between tweets (in minutes)
use_descriptions=YES    # automatically add descriptions from watchlist.csv in tweets
reply_jetphotos=YES     # automatically reply to the tweet with a link to photos of aircraft with that registration number
down_tweet=YES          # tweet when ADSBexchange API is not responding (down or key expired)

[TWITTER]
# twitter API key info
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

[ADSB]
# adsbexchange.com API key info

