# airspotbot configuration file
# see README.md for more information

[TWITTER]
# twitter API key info
consumer_key=
consumer_secret=
access_token=
access_token_secret=
# configure twitter behavior with the following options
# minimum interval between tweets (seconds)
tweet_interval=60
# automatically add descriptions from watchlist.csv in tweets
use_descriptions=y
# automatically reply to the tweet with a link to photos of aircraft with that registration number
reply_jetphotos=y
# tweet when ADSBexchange API is not responding (down or key expired)
down_tweet=y


[ADSB]
# aircraft spotting location configuration
# latitude of spot circle center
lat= 39.0
# longitude of spot circle center
long= 113.0
# radius of circle to check for spots (in nautical miles)
radius = 100
# interval to check adsb (seconds)
adsb_interval = 60
# cooldown timer to re-report a previous spot if still active (seconds).
cooldown = 3600
# always spot aircraft with unknown reg number
spot_unknown = y
# always spot aircraft with military serial number (i.e. 12-12345)?
spot_mil = y
# adsbexchange.com API key info

