# airspotbot configuration file
# see README.md for more information

[TWITTER]
# twitter API key info
consumer_key=
consumer_secret=
access_token=
access_token_secret=
# configure twitter behavior with the following options
# minimum interval between tweets (seconds)
tweet_interval=30
# automatically add descriptions from watchlist.csv in tweets
use_descriptions=y
# tweet when ADSBexchange API is not responding (down or key expired)
down_tweet=y


[ADSB]
# aircraft spotting location configuration
# latitude of spot circle center
lat=
# longitude of spot circle center
long=
# radius of circle to check for spots (in nautical miles)
radius = 25
# interval to check adsb (seconds)
adsb_interval = 120
# cooldown timer to re-report a previous spot if still active (seconds).
cooldown = 3600
# always spot aircraft with unknown reg number
spot_unknown = n
# always spot aircraft designated as military by ADSBx?
spot_mil = y
# always spot aircraft designated as "interesting" by ADSBx?
spot_interesting = y
# adsbexchange.com API key info
# set adsb_api to "rapidapi" or "adsbx", depending on which endpoint you are using
adsb_api = adsbx
# if using rapidapi to access ADSBx data, put your api key below.
# if using the ADSBx API directly, enter your feeder uuid below as it acts as your api key
adsb_api_key =

[LOCATION]
# options for configuring location description
location_type = manual
location_description = "near somewhere"
pelias_host = http://localhost
pelias_port = 4000
pelias_area_layer = neighbourhood
pelias_point_layer = venue

[MISC]
# set the verbosity of logging messages
# Valid options are as follows, in order from most to least verbose: "debug", "info", "warning", "error", "critical"
# The default value of "info" is usually adequate
logging_level = info